.square {
    height: 34px;
    width: 34px;
    padding: 0;
    font-size: 24px;
    background-color: beige;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
float: left;
}
.row {
    height: 34px;
  }
.row:after {
    clear: both;
    content: '';
    display: table;
}